.App-header {
  background: #091242;
  height: 160px;
  left: 0;
  top: 0;
}

.header {
  padding: 0 20px;
  gap: 10rem;
}

.font1 {
  font-family: "Rubik", sans-serif;
}

.font2 {
  font-family: "Krub", sans-serif;
}

.nav-list {
  font-family: "Krub", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 31rem;
}

.nav-item > a {
  color: #fff;
}

.border {
  position: absolute;
  width: 40px;
  height: 4px;
  top: 53px;
  background-color: #fff;
}

.social-media {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.button1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135.02%;
  text-align: center;
  color: #23212a;
}

.banner {
  background-image: url(./images/Photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-intro {
  height: 213px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 71px;
}

.banner-paragragh {
  width: 571px;
  height: 72px;
  font-family: "Krub", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 151.52%;
}

.button2 {
  width: 194px;
  height: 60px;
  background:
    linear-gradient(
      94.06deg,
      #ffb629 -1.21%,
      #ffda56 58.66%,
      #ffd7a6 116.84%
    );
}

.customer-reviews-content,
.transport-pic,
.content {
  object-fit: contain;
  height: 100%;
  width: 90%;
}

.about-intro {
  height: 93px;
  left: 0;
  top: 38px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  color: #1c1f35;
}

.services {
  background-image: url(./images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.service-container {
  margin-top: 30rem;
}

.transport {
  background:
    linear-gradient(
      95deg,
      #ffb629 -1.19%,
      #ffda56 57.78%,
      #ffd7a6 115.08%
    );
  margin-top: 65rem;
  height: 40vh;
}

.transport-intro {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #1c1f35;
}

.button3 {
  background: #091242;
  width: 194px;
  height: 60px;
}

.transport-container {
  position: absolute;
  top: 158.3rem;
}

.customer-reviews-container {
  margin-top: 6rem;
}

.second-col {
  background: #f4f4f4;
}

.second-col-pic {
  height: 100%;
  width: 50%;
  object-fit: contain;
  margin-left: 3rem;
}

.opportunity-pic {
  height: 100%;
  width: 100%;
  background: #091242;
}

.form {
  height: 100%;
  width: 90%;
  object-fit: contain;
}

.news-pic {
  object-fit: contain;
}

.team-pic {
  height: 100%;
  width: 70%;
  object-fit: contain;
}

.footer {
  background: #091242;
}

.footer-list {
  list-style-type: none;
}

.footer-container {
  margin-top: 5rem;
}

.button4 {
  background: #1f2a69;
  width: 194px;
  height: 60px;
}

.photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
